* {
  text-decoration: none;
  color: #fbfcf8;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    height: 200vh; 
    background-color: #2F2F2F;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: inline-flex;
    font-family: sans-serif;
}

.fab {
  padding: 5px;
}

.underscored {
  border-bottom: 2px solid #D9D9D9; 
  display: inline;
}

.container {
  margin: 30px auto;
  max-width: 80%;
  height: max-content;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#main {
  display: flex;
  height: 50vh;
  padding-bottom: 150px;
  align-items: center;
}

#main-container, #ryo {
  height: 100%;
  width: 50%;
}

#main-container {
  margin: 20px;
  align-content: center;
}

.main-header {
  font-weight: 700;
  font-size: 6rem;
}

@media screen and (max-width: 950px) {
  #ryo {
    display: none;
  }
}

#about, #competenze {
  font-size: 1.3em;
  /*background: red;*/
  height: 75vh;
  padding: 10px;
  align-items: center;
}

.paragrafi-container {
  line-height: 1.5;
}

.progetti {
   display: flex;
   flex-direction: row;
   padding: 30px;
   height: 500px;
   width: 100%;
}

.progetto {
  height: 100px;
  width: 80px;
  background-color: azure;
  color: #2F2F2F;
}

.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: #967BB6;
  color: #fbfcf8;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.header {
  font-size: 30px;
  padding: 15px;
}

#TopBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #967BB6;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#TopBtn:hover {
  background-color: #C3B1E1;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #444444;
  }